@import './task.css';
@import './taskCell.css';
@import './calendar-day.css';
@import './timezone-cell.css';
@import './hour-cell.css';
@import './current-time.css';
/* @import './button.css'; */
/* @import './select.css'; */
/* @import './calendar-status.css'; */
/* @import './header.css'; */
/* @import './mini-calendar.css'; */
/* @import './buscar-personas.css'; */
/* @import './sidebar.css'; */
/* @import './modal.css'; */
/* @import './input.css'; */
/* @import './create-task.css'; */

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



.calendar {
    color: var(--gray20);
    /* padding-inline: 1.5rem; */
    --minBlockSize: 4rem;
    --maxBlockSize: auto;
    --minInlineSize: 6rem;
    --maxInlineSize: 1fr;
    position: relative;


}

.calendar-week {
    display: grid;
    grid-template-columns: auto repeat(6, minmax(var(--minInlineSize), var(--maxInlineSize)));
    grid-template-rows: 7rem repeat(24, minmax(var(--minBlockSize), var(--maxBlockSize)));
    min-block-size: 700px;
    max-block-size: 100%;
    max-inline-size: 100%;
}
.calendar-week.dia {
    grid-template-columns: auto 1fr;
}

@media (max-width: 570px) {
    .calendar {
        --minInlineSize: 5rem;
        left: -2rem;
    }
}